{% extends 'base.html' %}
{% load static %}


{% block navigation %}
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{% url 'prototype:index' %}">トップページ</a>
    </li>
{% endblock %}


{% block header %}
  <script src="{% static 'js/score.js' %}"></script>
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 justify-content-between">
        <div class="col-lg-5 my-auto align-self-start">
          <div class="header-content mx-auto">
            <h1 class="mb-5">シャッターを押し画像を撮ろう</h1>
              <video id="local_video" autoplay style="width: 667px; height:500px; border: 1px solid black;"></video>
              <form>
              <button type="button" id="shutter">シャッター</button>
              </form>
          </div>
        </div>
        <div class="col-lg-7 my-auto">
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block main_contents %}
  <section class="download bg-primary text-center" id="download">
    <div class="container h-100">
      <div class="row h-100 justify-content-between">
        <div class="col-lg-5 my-auto">
          <div class="header-content mx-auto">
            <h1 class="mb-5">撮れた画像を確認しよう</h1>
            <canvas id="canvas" style="width: 667px; height:500px; border: 1px solid black;"></canvas>
          </div>
          <form>
              <button type="button" id="send">採点</button>
          </form>
        </div>
          <div class="col-lg-7 my-auto">

          </div>
      </div>
    </div>
  </section>
{% endblock %}
