{% extends 'base.html' %}
{% load static %}


{% block navigation %}
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#features">Features</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#download">BETA</a>
    </li>
    <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
    </li>
{% endblock %}



{% block header %}
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">
          <div class="header-content mx-auto">
            <h1 class="mb-5">Sense-i へようこそ！</h1>
            <form>
                <small>＊写真に映るものが人ではない場合や、対象の人以外に映り込む物が多すぎるとうまく採点されないことがあります</small>
            </form>
            <div class="dropdown">
                <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    採点する
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a href="{% url 'score:take_pic' %}" class="dropdown-item">撮影して採点してもらう</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'score:choose_pic' %}" class="dropdown-item">持ってる画像を採点してもらう</a></li>
                </ul>
            </div>
            <a href="{% url 'score:result' %}" class="btn btn-outline btn-xl js-scroll-trigger dropdown-item">結果</a>
          </div>
        </div>
        <div class="col-lg-5 my-auto">
          <div class="device-container">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="{% static 'img/demo-screen-1.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block main_contents %}{% endblock %}
