
{% extends "bootstrap/base.html" %}

{% block title %}単語認識アプリ{% endblock %}

{% block content %}

{% if message %} 
<div class="alert alert-success" role="alert">{{ message }}<br></div>
{% endif %}

 <div style='background-image:"../img/img1.jpg;"'>
    <header class='masthead'>
        <div class='panel-in'>
            <div class='panel-bg'></div>
            <div class='panel-main'>
                <div class="container h-100 ">
                    <div class='row h-100 aligh-item-center justify-content-center text-center'>
                        <div class='col-lg-10 aligh-self-end'>
                            <h1 class='text-uppercase text-black font-weight-bold'>UPLOAD IMAGE</h1>
                        </div>
                    </div>
                </div>
                <div class='container h-100　'>
                    <div class='row h-100 aligh-item-center justify-content-center text-center'>
                        <div class='col-lg-10 aligh-self-end' display='flex'>
                            <h3 class='text-uppercase text-black'>画像を添付して単語帳を作ろう！</h3>
                            <a class="btn btn-primary" href="/result" role="button">単語テスト</a>
                        </div>
                    </div>
                </div>
        
                <div class='container h-100'>
                    <div class='row h-100 aligh-item-center justify-content-center text-center'>
                        <div class='col-lg-5 aligh-self-end'>
                            <div class="form-group">
                                <label for="inputFile">Image input</label>
                                <div class="custom-file">
                                    <form method="POST" action = "./" method = "POST" enctype = "multipart/form-data">
                                        <input type="file" class="custom-file-input" id="inputFile" name="file">
                                        <label class="custom-file-label" for="inputFile">Choose Image</label>
                                        <input type = "submit"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <script>
        bsCustomFileInput.init();
    </script>
</div>
{% endblock %}
